@model IEnumerable<UniversityManagementSystemFinal.Models.RoomAllocation>

@{
    ViewBag.Title = "Room Allocation View";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day.DayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.DepartmentCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.RoomName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day.DayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RoomAllocationId }) |
                @Html.ActionLink("Details", "Details", new { id = item.RoomAllocationId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RoomAllocationId })
            </td>
        </tr>
    }

</table>
