@model IEnumerable<UniversityManagementSystemFinal.Models.ResultEntry>

@{
    ViewBag.Title = "Result View";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade.GradeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.StudentName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade.GradeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ResultEntryId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ResultEntryId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ResultEntryId })
            </td>
        </tr>
    }

</table>
