@model UniversityManagementSystemFinal.Models.EnrollCourse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EnrollCourse</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EnrollDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GradeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GradeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.StudentName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EnrollCourseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
